.employee-table-wrapper {
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    height: 70vh;
}

.employee-table {
    background-color: #f0f0f0; 
    width: 100%;
    border-collapse: collapse;
}

.employee-detail-header {
    padding: 10px;
    background-color: #065ba9;
    color: white;
    text-align: left;
    font-weight: bold;
}

.employee-detail-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.edit-employee-btn, .delete-employee-btn {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-employee-btn {
    margin-right: 5px;
    background-color: #065ba9;
}

.edit-employee-btn:hover {
    background-color: #044a7c;
}

.delete-employee-btn {
    margin-right: 5px;
    background-color: #e92c30;
}

.delete-employee-btn:hover {
    background-color: #b92324;
}

.no-data-placeholder {
    display: block;
    margin: 0 auto;
    width: 30vw;
    max-width: 300px;
}