.employee-table-wrapper{
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 70vh;
}

.employee-table{
    background-color: black;
    width: 100%;
}

.employee-detail-edit-btn{
    margin-right: 10px;
    background-color: #065ba9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.employee-detail-delete-btn{
    margin-right: 10px;
    background-color: #e92c30;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.employee-detail-column-title{
    padding: 10px;
}

.employee-detail-tile-item{
    padding: 5px 10px;
}

.no-data-img{
    justify-content: center;
    align-items: center;
    width: 30vw;
}

