.login-form-wrapper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-color: white;

}

.login-form-heading{
    text-align: center;
    padding-bottom: 40px;
    background-color: white;
}

.form-heading {
    font-size: 1.2rem;
    padding-bottom: 8px;
    color: #333;
    background-color: white;
}

.form-input-wrapper {
    padding-bottom: 16px;
    background-color: white;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: white;
    padding-top: 10px;
}

.button-submit, .button-cancel {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button-submit {
    background-color: #065ba9;
    color: white;
}

.button-submit:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.button-cancel {
    background-color: #e92c30;
    color: white;
}

.button-submit:hover {
    background-color: #044a7c;
}

.button-cancel:hover {
    background-color: #b92324;
}

.toast-container {
    font-size: 14px;
    background-color: white;
}
